/-1.14-windows.xml
/.config
/.gitconfig
/.Origin
/.QtWebEngineProcess
/.vscode
/AppData
/Contacts
/Creative Cloud Files
/Desktop
/Documents
/Downloads
/Favorites
/IntelGraphicsProfiles
/Links
/Music
/node_modules
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{f330f193-1d3d-11ee-af0f-04ecd84a16b3}.TM.blf
/NTUSER.DAT{f330f193-1d3d-11ee-af0f-04ecd84a16b3}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{f330f193-1d3d-11ee-af0f-04ecd84a16b3}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/package-lock.json
/package.json
/Pictures
/Postman
/Saved Games
/Searches
/Videos
/VLC
/Application Data
/Cookies
/Local Settings
/NetHood
/My Documents
/PrintHood
/Recent
/SendTo
/Templates
/Start Menu